.modal-window {
    border: 0;
    border-radius: 0;
    color: #f1f0f0;
    text-align: center;
    .modal-header{
        border: 0;
        border-radius: 0;
    }
    .modal-body{
        border: 0;
        border-radius: 0;
        padding: 40px;
        padding-bottom: 20px;
    }
    .modal-footer{
        border: 0;
        border-radius: 0;
        display: flex;
        justify-content: center;
        padding: 0;
        padding-bottom: 20px;
        .modal-button-left, .modal-button-right{
            border-radius: 0.2em;
            width: 23%;
            background-color: rgba(0, 0, 0, 0.3);
            border: 0;
        } 
        .modal-button-right{
            margin-left: 10px;
        } 
    }
}

.modal-button-flex{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;

}

.cards {
	display: grid;
	grid-template: 1fr / max-content max-content max-content max-content;
	gap: 10px;
	justify-content: center;
	margin: 10px auto;
	text-align: center;
    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        box-shadow: 2px 2px 2px rgb(44, 36, 22);
        background-color: bisque;
        img {
            height: 200px;
            width: 200px;
        }
        .title{
            margin: 10px;
                span {
                    margin: 2px;
                    color: rgb(41, 73, 202);
                }
                .price {
                    padding: {
                        left: 2px;
                        right: 2px;
                    }
                    border: 2px inset rgb(95, 82, 63);
                    color: #000;
                }
        }
    }
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    .yellow{
        fill: yellow;
    }
}

header{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    align-items: center;
    margin: {
        top: 20px;
        bottom: 20px;
    }
    a {
      text-decoration: none;
      color: #000;  
    }
}

.cross-svg:hover {
    cursor: pointer;
}

// .basket-cards {
//     display: grid;
//     gap: 15px;
//     justify-content: center;
//     width: 100%;
//     .basket-card{
//         display: flex;
//         flex-direction: row;
//         box-shadow: 0px 0px 6px 1px rgb(213 148 212 / 62%);
//         background-color: bisque;
//         width: fit-content;
//         .title{
//             margin: 3px;
//             span {
//                 margin: 2px;
//                 color: rgb(41, 73, 202);
//             }
//             .price {
//                 border: 1px inset rgb(95, 82, 63);
//                 color: #000;
//             }
//         }
//         img {
//             height: 100px;
//             width: 100px;
//         }
//         button{
//             font-size: smaller;
//             margin: 5px;
//             width: 120px;
//             padding: 2px;
//         }
//     }
// }